@{
    // ViewData["Title"] = "Login";
}
<section class="h-100">
	<div class="container h-100">
		<div class="row justify-content-sm-center h-100">
			<div class="col-xxl-4 col-xl-5 col-lg-5 col-md-7 col-sm-9" style="margin-top: 12%;">
				<div class="card shadow-lg">
					<div class="card-body p-5">
						<h1 class="fs-4 card-title fw-bold mb-4">Login</h1>
						<form method="POST" class="needs-validation" novalidate="" autocomplete="off">
							<div class="mb-3">
								<label class="mb-2 text-muted" for="email">Username</label>
								<input id="username" type="text" class="form-control" name="username" value="" required autofocus>
								<div class="invalid-feedback">
									Username is invalid
								</div>
							</div>
							<div class="d-flex align-items-center">
								<div class="form-check">
								</div>
								<a id="btn-login" class="btn btn-primary ms-auto">
									Login
								</a>
							</div>
						</form>
					</div>
					<div class="card-footer py-3 border-0">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>